<div class="container-fluid">
  <!-- <app-tdf-demo></app-tdf-demo> -->
  <!-- <app-tdf-validation></app-tdf-validation> -->
  <!-- <app-mdf-demo></app-mdf-demo> -->
  <!-- <app-mdf-validation></app-mdf-validation> -->
  <!-- <button (click)="handleClick()">MyButton</button> -->
  <div class="row">
    <div class="col-4">
      <app-fetch-employee></app-fetch-employee>
    </div>
    <div class="col-8">
      <app-fetch-employees></app-fetch-employees>
    </div>
  </div>
  <!-- <div class = 'text-center'>
    <h1>Angular App</h1> <hr />
  </div>
  <div>
    <a routerLink = 'loadById'>Employee</a>/
    <a routerLink = 'loadAll'>Employees</a>/
    <a routerLink = 'tdf'>TDF</a>/
    <a routerLink='mdf'>MDF</a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div> -->
</div>